*{
    margin: 0%;
    padding: 0%;
}

model-viewer{
    margin-left: 20vw;
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
    background: #2A7B9B;
    background: linear-gradient(90deg, rgba(237, 221, 83, 1) 0%, rgba(87, 199, 133, 1) 50%,rgba(42, 123, 155, 1) 100%);
}

.fondo{
    background-image: url('../img/virtual-date-anime-girl-hatsune-miku-2k-wallpaper-394a.png');
    background-size:cover;
    background-repeat:space;
    object-fit:cover;
}

.btn{
    padding: 1vw;
    background-color: #46464691;
    border-radius: 3vw;
    border-style: none;
    color: #ffffff;
}
.btn a{
    text-decoration: none;
    
}


/*-----responsivo--------*/
#btn-menu{
    display: none;
}
header label{
    width: 2rem;
    height: 2rem;
    padding: 1rem;
    display: none;
}
header label:hover{
    cursor: pointer;/*para los botones ponerle un apuntador*/
}
.menu-img{
    width: 60px;
    height:60px;
}
/*-----responsivo--------*/
/*aplicar los estilos con la barra de navegacion con media query
para que el menu se oculte y sea desplegable*/
@media screen and (max-width:768px){
    
    header label{
        display: block;
    }
    #menu{
        position: absolute;
        background-color: rgba(7, 7, 7, 0.538);
        width: 20%;
        margin-left: -20%;
        transition: all 0.5s;
    }
    #menu ul{
        flex-direction: column;
    }

    #menu li{
        text-align: left;
    }
    /*utilizar elinput checkbox paracomtrolar el menu 
    aparesca o desaparesca*/
    /*condicion de css*/
    #btn-menu:checked ~ #menu{
        margin-left: 0%;
    }
    main{
        margin: 1rem;
    }
    main p{
        margin: 1rem;
    }
}

/* Por defecto (pantallas grandes) */
#lista-1 {
    display: block;
}

#lista-2 {
    display: none;
}


/*________Fondo Discord___________*/
.caja{
    background-color: #151516   ;
    display:flexbox;
    margin: auto;
    border-radius: 2rem;
    margin-left: 15vw;
    margin-inline-end: 15vw;
    margin-bottom: 1rem;
}

.caja-2{
    background-color: #151516   ;
    display:flexbox;
    border-radius: 2rem;
    margin: auto;
    margin-right: 30%;
    margin-bottom: 1rem;
    
}

.caja-3{
    background-color: #151516   ;
    display:flexbox;
    margin: auto;
    border-radius: 2rem;
    margin-left: 30vw;
    margin-bottom: 1rem;
}


.perfil{
    display: flex;
    flex-wrap: wrap;
    background-image: url('../img/god_maquina.png');
    background-size: cover;
    height: 10vw;
    width: 10vw;
    border-radius: 50rem;
    border-color: #000000;
    margin-right: 32vw;
    margin-top: 8vw;
}
.fondodisc{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-image: url('../img/Project_lain.png');
    background-size: cover;
    height: 15vw;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;   
}
.cajaabajo{
    display: flex;background-color: #2b3745;
    padding: 20vw;
    display: flex;
    margin-top: 20vw;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

.intro{
    padding-top: 5vw;
    align-items: center;
}

.txt_abajo{
    font-family: "Goldman", sans-serif;
    padding: 2rem;
    color: #ffffff;
}
.name{
    font-family: "Bitcount Prop Single", system-ui;
    font-size: 4vmin;
    font-weight: bold;
    color: #ffffff;
}

.sobremi{
    margin-top: 1vmin;
    font-size: 2vmin;
}

.bold{
    font-size: 2.5vmin;
    margin-bottom: 1vw;
    margin-top: 1vw;
    font-style: italic;
    font-weight: bold;
}
.linea{
    width: 4vw;
}
.titulo{
    padding: 1vw;
    font-size: 6vmin;
    color: #ffffff;
    text-align: center;

}

/*_____Conexiones estilos____________*/
.imgperfil{
    border-radius: 10vw;
    padding: 1vw;
}
.ngro{
    background-color:#000000 ;
    padding: 5vw;
}
.trofeos{
    padding: 2rem;
}
.lista-dev{
    display: flex;
    color: #fdfff1;
    font-family: "Bitcount Prop Single", system-ui;
}
.lista-dev li{
    margin-top: 0%;
    margin: 0%;
    position: relative;
    padding: 5px;
    font-size: 3vmax;
    font-size: 1.9vmin;
    list-style: none;
}

.sobremi{
    column-count: 2;
    color: #fdfff1;
}

.text-gnd{
    padding: 1vw;
    font-family: "Bitcount Prop Single", system-ui;
    color: #ffffff;
    font-size: 4vh;
    text-decoration:solid;
}



.text-etiquetas{
    padding: 1rem;
    font-size: 1.8vmax;
    /*font-size: 1.8vmin;*/
    color: #ffffff;
    overflow-wrap: break-word;
}

.text-repo{
    margin-top: 10vw;
    padding: 1rem;
    font-size: 2vmax;
    color: #ffffff;
    text-wrap: balance;
}

.text-repo-2{
    padding: 1rem;
    font-size: 3vmax;
    font-size: 2vmin;
    color: #ffffff;
    text-decoration: none;
}
.text-link{
    padding: 1rem;
    font-size: 3vmax;
    font-size: 2vmin;
    color: #ffffff;
    text-decoration: none;
}

.kaomoji{
    font-size: 1.5vw;
    
}
.cont-caja1{
    display:flex;
    position: relative;
}
.foto{
    display: block;
    margin-right: 10vw;
    height: 25vw;
    width: 18vw;
    border-radius: 5%;
}

::details-content {
    transition: height 0.5s ease, content-visibility 0.5s ease allow-discrete;
    height: 0;
    overflow: clip;
    }

    @supports (interpolate-size: allow-keywords) {
    :root {
        interpolate-size: allow-keywords;
    }

    [open]::details-content {
        height: auto;
    }
    }

    @supports selector(::details-content) {
    .notice {
        display: none;
    }
    }
    @layer base {
    body {
        font-family: system-ui;
        overflow-x: hidden;
    }
}

/*__________MediasQuery__________*/
@media screen and (max-width:1228px) {
    #lista-1 {
        display: none;
    }
    #lista-2 {
        display: block;
        margin: auto;
    }
}

@media screen and (max-width:768px) {
    model-viewer{
    padding: 6vw;
    margin-left: 1vw;
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    background: #2A7B9B;
    background: linear-gradient(90deg, rgba(237, 221, 83, 1) 0%, rgba(87, 199, 133, 1) 50%,rgba(42, 123, 155, 1) 100%);
    }
    .text-repo{
    font-size :2vmin;
    color: #ffffff;
    }
}