*{
    margin: 0%;
    padding: 0%;
}
/*Animacion de inicio*/
.caja {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-bottom: .7vw solid #fff;
    overflow: hidden;
    animation: anim 2.5s linear forwards;
    animation-duration: 3s;
    background-color: #1d1d1f83;
}
.caja h1{
    font-size: 5vw;
    color: #f3ffff;
    font-family: "Bitcount Prop Single", system-ui;
}
@keyframes anim {
    0% {
        width: 0%;
        height: 0%;
    }
    10%{
        width: 60%;
        height: 0%;
    }
    30% {
        width: 60%;
        height: 12vw;
    }
    50% {
        width: 60vw;
        height: 12vw;
    }
    80% {
        width: 60vw;
        height: 12vw;
    }
    90%{
        width: 60vw;
        height: 5vw;
    }
    100%{
        width: 0%;
        height: 0%;
    }
}

/*____________- pagina Discord________________*/
.fondo{
    background-image: url('../img/virtual-date-anime-girl-hatsune-miku-2k-wallpaper-394a.png');
    background-size:cover;
    background-repeat:space;
    object-fit:cover;
    position: relative;
}
.discord-body {
    background-color: #000000;
    margin-left: 4vw;
    height: auto;
    width: 50vw;
    color: #ffffff;
    border-radius: 2rem;
    display: inline-block;
    display:flexbox;

}
.img-fond-disc{
    justify-content: space-around;
    background-image: url('../img/Project_lain.png');
    background-size:cover;
    height: 15vh;
    width: 50vw;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem; 
    
}
.kaomoji{
    font-size: 1.3vh;
    margin-right: 10vw;
}
.caja{
    width: 1vh;
}
.txt_nombre{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 4vh;
    font-family: "Bitcount Prop Single", system-ui;
    padding: 0 4vh 0 4vh;
}
.txt2{
    padding-left: 2vw;
    font-family: sans-serif;
    font-size: 2.5vh;
    border-bottom: .4vh solid #fff;
    width: 30%;
}
.txt{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 4vh;
    font-size: 3vh;
}
@media screen and (max-width: 1000px) {
    .kaomoji{
    font-size: 1vh;
    margin: 0%;
    }
    .txt{
        font-size: 2vh;
    }
    
}

/*____________- Bolitas________________*/

.bolita{
    background-color: #3f3f3f;
    display: flex;
    flex-wrap: wrap;
    border-radius: 50vw;
    margin-left: 6vw;
    margin-top: 8.5vw;
    height: 2vw;
    width: 2vw;
}
.bolitaVerde{
    background-color: #7cbe5b;
    display: flex;
    flex-wrap: wrap;
    border-radius: 50vw;
    padding: .3rem;
    height: .5vw;
    width: .5vw;
    margin-top: .5vw;
    margin-left: .5vw;
}
.bolita-contorno {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    height: 10vh; /* Igual que la altura de img-fond-disc */
    width: 30vw; /* Igual que el ancho de img-fond-disc */
    border-radius: 2rem; /* Igual que el border-radius de img-fond-disc */
    overflow: hidden; /* Asegura que las bolitas no se salgan */
    padding: 0.5rem; /* Ajustar el espacio interno para que las bolitas no toquen los bordes */
}
.bolita-contorno li {
    list-style: none;
}
.bolita-contorno li a {
    width: 2.5vw; /* Aumentar un poco el tamaño de las bolitas */
    height: 2.5vw;
    margin: 0.2rem; /* Espaciado entre las bolitas */
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #fff;
    z-index: 1;
}
.bolita-contorno li a .logo {
    position: relative;
    color: #262626;
    transition: .5s;
    z-index: 3;
}
.bolita-contorno li a:hover .logo {
    color: #fff;
    transform: rotateY(360deg);
}
.bolita-contorno li a:before {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: .5s;
    z-index: 2;
}
.bolita-contorno li a:hover:before {
    top: 0;
}
.bolita-contorno li:nth-child(1) a:before{
    background: #acacac;
}
.bolita-contorno li:nth-child(2) a:before{
    background: #55acee;
}
.bolita-contorno li:nth-child(3) a:before{
    background: #5d55ee;
}
.bolita-contorno li:nth-child(4) a:before{
    background: #b94415;
}
.bolita-contorno li:nth-child(5) a:before{
    background: #169b4d;
}
.logo{
    position: relative;
    max-width: 1.5vw;
    max-height: 1.5vw;
}
/* Para pantallas pequeñas */
@media screen and (max-width: 768px) {
    .bolita-contorno {
        flex-wrap: wrap; /* Que se acomoden en varias filas si no caben */
        justify-content: center;
        gap: 10px; /* espacio entre ellos */
    }

    .bolita-contorno li a {
        width: 4vw;   /* más grande que 3.5vw en móvil */
        height: 4vh;
    }

    .logo {
        margin-top: 3px;
        margin-left: 3px;
        max-width: 20px; /* tamaño fijo para que se vean */
        max-height: 20px;
    }
}

