*{
    margin: 0%;
    padding: 0%;
}
/*Animacion de inicio*/
.caja {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-bottom: .7vw solid #fff;
    overflow: hidden;
    animation: anim 2.5s linear forwards;
    animation-duration: 3s;
    background-color: #1d1d1f83;
}
.caja h1{
    font-size: 5vw;
    color: #f3ffff;
    font-family: "Bitcount Prop Single", system-ui;
}
@keyframes anim {
    0% {
        width: 0%;
        height: 0%;
    }
    10%{
        width: 60%;
        height: 0%;
    }
    30% {
        width: 60%;
        height: 12vw;
    }
    50% {
        width: 60vw;
        height: 12vw;
    }
    80% {
        width: 60vw;
        height: 12vw;
    }
    90%{
        width: 60vw;
        height: 5vw;
    }
    100%{
        width: 0%;
        height: 0%;
    }
}



.fondo{
    position: relative;
    background-image: url('../img/virtual-date-anime-girl-hatsune-miku-2k-wallpaper-394a.png');
    background-size:cover;
    background-repeat:space;
    object-fit:cover;
}

.acomodar{
    display: flex;
    margin: 10vh 5vh 1vh 30vw;
    border-radius: 2rem;
}

.profile{
    width: 10vw;
    height: 20vh;
    border-radius: 10rem;
    border: solid 10px #272727;
}

    .discord-body {
    color: #ffffff;
    border-radius: 2rem;

}
.img-fond-disc{
    justify-content: space-around;
    background-image: url('../img/Project_lain.png');
    background-size:cover;
    height: 15vh;
    width: 39.5vw;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem; 
    
}
.kaomoji{
    font-size: 1.3vh;
    margin-right: 10vw;
}
.caja{
    width: 1vh;
}
.txt_nombre{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 4vh;
    font-family: "Bitcount Prop Single", system-ui;
    padding: 0 4vh 0 4vh;
}
.txt2{
    padding-left: 2vw;
    font-family: sans-serif;
    font-size: 2.5vh;
    border-bottom: .4vh solid #fff;
    width: 30%;
}
.txt{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 4vh;
    font-size: 3vh;
}
@media screen and (max-width: 1000px) {
    .kaomoji{
    font-size: 1vh;
    margin: 0%;
    }
    .txt{
        font-size: 2vh;
    }
    
}

/*______________Efecto TV CTR___________*/
#tele {
    width: 94vw;
    height: 85vh;
    background: #333;
    border-radius: 10rem;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 4px solid #1a1a1a;
    box-shadow: 10px 10px 0px  #111;
    position: relative;
    align-items: inset -5 -5px 15px #00000000, 10px 10px 30px rgba(0,0,0,0.5);
    margin: 20px auto;
}


.panel-botones{
    display: flex;
    width: 60vw;
    height: 100vh;
    margin-top: 2rem;
    margin-left: 25rem;
    align-content: center;
    justify-content: center;
    gap: 12px;
    background: #000000;
}

button {
    background: #494747;
    color: rgb(13, 12, 12);
    margin: 2vh 2vw 2vh 2vw;
    /*border: 2px solid #000;*/ 
    border-radius: 5rem solid ;
    padding: 10px;
    cursor: pointer;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif   ;
    box-shadow: 2px 2px 0px #000;
}

button:active {
    color: rgb(0, 0, 0);
    box-shadow: 0px 0px 0px #000;
    transform: translate(2px, 2px);
}

.perilla {
    margin: 2vh 2vw 2vh 2vw;
    width: 50px;
    height: 50px;
    background: radial-gradient(circle, #444 0%, #222 100% );
    border: 3px solid #000;
    border-radius: 50%;
    position: relative;
    transition: transform 0.3s ease cubic-bezier(0.175, 0.885, 0.32, 1.275);
    cursor: pointer;
}

.perilla::after {
    content: '';
    position: absolute;
    top: 5px;
    left: 50%;
    width: 4px;
    height: 12px;
    background: #ff0000;
    border-radius: 2px;
    transform: translateX(-50);
}

#pantallacrt {
    position: relative;
    width: 80%;
    height: 400px;
    margin: 0 auto;
    background: #050505;
    border: 15px solid #1a1a1a;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 1), 0 10px 20px rgba( 0, 0, 0, 0.5);
    flex-grow: 1;
}

.ctr-overlay {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    z-index: 10;
    pointer-events: none; /*chingadera para picarle a lo que haya abajo*/
    background: linear-gradient(
        rgba(18,16,16,0) 25%,
        rgba(0,0,0,0.15) 25%,
        rgba(18,16,16,0) 25%,
        rgba(0,0,0,0.15) 25%,
    ),
    linear-gradient( 90deg, rgba(255,0,0,0.03),  rgba(0,255,0,0.01), rgba(0,0,255,0.04));
    background-size: 100% 4px, 4px 100%;
    animation: flicker 0.15 infinite;
}

@keyframes flicker{
    0% {opacity: 0.98;}
    50% {opacity: 1;}
    100% {opacity: 0.99;}
}

#pantallactr::before {
    content: '';
    display: block;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background: radial-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.3) 100%), 
                linear-gradient(rgba(18, 16, 16, 0) 0%, rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 100%);
    z-index: 3;
    background-size: 100% 2px;
    pointer-events: none;
}

#contenedor-dinamico {
    position: relative;
    z-index:1;
    padding: 20px;
    height: 80vh;
    width: 100%;
    /*overflow-y: auto;*/
}



/*____________- Bolitas________________*/

.bolita{
    background-color: #3f3f3f;
    display: flex;
    flex-wrap: wrap;
    border-radius: 50vw;
    margin-left: 6vw;
    margin-top: 8.5vw;
    height: 2vw;
    width: 2vw;
}
.bolitaVerde{
    background-color: #7cbe5b;
    display: flex;
    flex-wrap: wrap;
    border-radius: 50vw;
    padding: .3rem;
    height: .5vw;
    width: .5vw;
    margin-top: .5vw;
    margin-left: .5vw;
}
.bolita-contorno {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    height: 10vh; /* Igual que la altura de img-fond-disc */
    width: 30vw; /* Igual que el ancho de img-fond-disc */
    border-radius: 2rem; /* Igual que el border-radius de img-fond-disc */
    overflow: hidden; /* Asegura que las bolitas no se salgan */
    padding: 0.5rem; /* Ajustar el espacio interno para que las bolitas no toquen los bordes */
}
.bolita-contorno li {
    list-style: none;
}
.bolita-contorno li a {
    width: 2.5vw; /* Aumentar un poco el tamaño de las bolitas */
    height: 2.5vw;
    margin: 0.2rem; /* Espaciado entre las bolitas */
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #fff;
    z-index: 1;
}
.bolita-contorno li a .logo {
    position: relative;
    color: #262626;
    transition: .5s;
    z-index: 3;
}
.bolita-contorno li a:hover .logo {
    color: #fff;
    transform: rotateY(360deg);
}
.bolita-contorno li a:before {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: .5s;
    z-index: 2;
}
.bolita-contorno li a:hover:before {
    top: 0;
}
.bolita-contorno li:nth-child(1) a:before{
    background: #acacac;
}
.bolita-contorno li:nth-child(2) a:before{
    background: #55acee;
}
.bolita-contorno li:nth-child(3) a:before{
    background: #5d55ee;
}
.bolita-contorno li:nth-child(4) a:before{
    background: #b94415;
}
.bolita-contorno li:nth-child(5) a:before{
    background: #169b4d;
}
.logo{
    position: relative;
    max-width: 1.5vw;
    max-height: 1.5vw;
}
/* Para pantallas pequeñas */
@media screen and (max-width: 768px) {
    .bolita-contorno {
        flex-wrap: wrap; /* Que se acomoden en varias filas si no caben */
        justify-content: center;
        gap: 10px; /* espacio entre ellos */
    }

    .bolita-contorno li a {
        width: 4vw;   /* más grande que 3.5vw en móvil */
        height: 4vh;
    }

    .logo {
        margin-top: 3px;
        margin-left: 3px;
        max-width: 20px; /* tamaño fijo para que se vean */
        max-height: 20px;
    }
}

/* paralax*/
.parteabajo{
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow-x:hidden;
    overflow-y: hidden;
    perspective: 1px;
    transform-style: preserve-3d;
    background-color: #3ba57d;
    background: linear-gradient(#18642d,#20693b,#ecfe90,#fff7c5);
}

section{
    position: relative;
    transform-style: inherit;
    min-width: 100vw;
    min-height: 100vh;
}

section::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

}

